target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
*.log
.DS_Store
node_modules/
dist/
.turbo/
coverage/
.env
.env.local
*.class
hs_err_pid*
.mvn/wrapper/maven-wrapper.properties.bak
frontend-monorepo/**/dist
**/build/
minio-data/
postgres-data/
solr-data/
kafka-data/
